<nav class="nav inner-container">
    <a href="/">
        <img src="./images/sparklique_logo.png" alt="Sparklique logo" class="logo">
    </a>
    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/quote">Quote</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/careers">Careers</a></li>
            <li><a href="/contact">Contact us</a></li>
        </ul>
    </div>
    <div class="ms-4 quote-btn-container">
        <button class="quote-btn">Get a quote</button>
    </div>
</nav>
