<div class="top-nav">
    <div class="ps-0 container-fluid">
        <ul>
            <li>
                <i class="fa-solid fa-phone icon me-2"></i>
               <span>+254710634972</span>
            </li>
            <li>
                <i class="fa-solid fa-envelope icon me-2"></i>
                <span>clean@sparklique.com</span>
            </li>
        </ul>
    </div>
</div>