<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include("./partials/topnav.ejs") %>
    <%- include("./partials/navbar.ejs") %>
    <h1>Careers</h1>
</body>
</html>
