<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include("./partials/topnav.ejs") %>
    <%- include("./partials/navbar.ejs") %>
    <p>Contact page</p>
</body>
</html>